server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-logs

    static_configs:
      - targets:
          - localhost
        labels:
          job: docker-logs
          __path__: /var/lib/docker/containers/*/*-json.log

    pipeline_stages:
      - json:
          expressions:
            output: log
            timestamp: time

      - timestamp:
          source: timestamp
          format: RFC3339Nano

      - regex:
          expression: "(?P<level>TRACE|DEBUG|INFO|WARN|ERROR|FATAL)"
          source: output

      - labels:
          level:

      - output:
          source: output
